/*********************************************
1. Global Styles
2. Header
3. Footer
4. Main Content
X. Miscellaneous
*********************************************/

/*======== Global Styles ========*/

html, body {
	font-family: "Futura PT", Helvetica, sans-serif;
	background-color: #000;
	color: #FFF;
	height: 100%;
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 1em;
	padding-bottom: 4px;
	border-width: 2px;
	border-color: #FFF;
}

sup {
	font-size: .5em;
}

a:link, a:visited {
	color: #FFF;
}

a:hover, a:active {
	color: #949494;
	text-decoration: none;
}

.icon img {
	margin: 30px 60px 30px 60px;
	width: 30px;
	height: 30px;
}

/*======== Header ========*/

.header {
	text-align: center;
	padding: 25px 40px 15px 30px;
	border: none;
	background-color: rgba(18, 18, 18, 0.2);
}

.header img {
	margin-top: 5px;
}

.header ul {
	padding: 6px 0 0 135px;
}

.header li {
	margin: 0 20px;
	padding: 0;
}

.header li a {
	font-size: 1.3em;
}

.header li a:link, .header li a:visited {
	color: #FFF;
	border-bottom: none;
}

.header li a:hover, .header li a:active {
	color: #FFF;
	border-bottom: solid;
}

.btn-color-background {
	background-color: rgba(18, 18, 18, 0);
	margin-top: -6px;
}

.icon-bar {
	display: block;
	margin: 5px;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: #FFF;
}

.dropdown-menu {
	background-color: #121212;
	color: #FFF;
	position: absolute;
	right: 2%;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #121212;
}

/*======== Footer ========*/

.footer {
	margin: 0px 0 0 0;
	padding-bottom: 10px; 
	color: #949494;
}

.footer h4, a, li {
	color: #FFF;
	font-size: .8em;
}

.footer .footer-bottom-text {
	margin-top: -25px;
	color: #949494;
	font-size: .8em;
}

.footer ul {
	list-style: none;
	padding-left: 0px;
	color: #949494;
}

.footer .row a:link, .footer .row a:visited {
	color: #949494;
}

.footer .row a:hover, .footer .row a:active {
	color: #333333;
	text-decoration: none;
}

#footer-bottom-text {
	padding: 40px 0px 0px 0px;
	margin-bottom: -40px 
}

.page-footer-copyright {
	font-size: .7em;
  	text-align: center;
	margin: 50px 0 0 0;
	padding-top: 15px; 
	border-top: 1px solid #949494;
}

#footer-personal-logo {
	margin: -2.7px 2px 0 0;
}

.language img {
	margin: -2.7px 5px 0 0;
}

/*======== Main Content ========*/

.main-content {
	padding: 220px 0px;
	margin: 0 50px;
}

.main-content .cta p {
	padding: 20px 0 10px 0;
	font-size: .9em;
}

.main-content .cta img {
	margin-left: -4px;
	height: 18px;
	width: 30px;
}

#landing-img {
	position: relative;
	top: 0;
	z-index: 10;
	padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

/*======== Miscellaneous ========*/




