/*********************************************
1. Global Styles
2. Background
X. Miscellaneous
*********************************************/

/*======== Global Styles ========*/
body {
	background-color: #333;
	color: #000;
}

p {
	color: #fff;
}

/*======== Background ========*/

.img-responsive.background {
	filter:alpha(opacity=40);
		-moz-opacity:0.4;
		-khtml-opacity: 0.4;
	opacity: 0.4;
}

.container {
	padding-left: 100px;
	padding-right: 100px;
	position:absolute;
	left:4%;
	top:0%;
	
}

/*======== Miscellaneous ========*/

.page-header img {
	position:absolute;
	right:11%;
	top:8%;
}

.btn-group {
	margin: 30px 0 30px 0;
}

.btn.btn-default {
	background-color: #333;
	color: #fff;
}