/*********************************************
1. Global Styles
2. Header
3. Footer
4. Main Content
5. Network Details
6. Parallax Content
7. Parallax Content - @media 1100 & 992
8. Parallax Content - @media 768
9. Parallax Content - @media 400
X. Miscellaneous
*********************************************/

/*======== Global Styles ========*/

html, body {
	font-family: "Futura PT", Helvetica, sans-serif;
	background-color: #000;
	color: #FFF;
	height: 100%;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 20px;
}

h2 {
	font-size: 1em;
	padding-bottom: 4px;
	border-width: 2px;
	border-color: #FFF;
}

sup {
	font-size: .5em;
}

a:link, a:visited {
	color: #FFF;
}

a:hover, a:active {
	color: #949494;
	text-decoration: none;
}

.icon img {
	margin: 30px 60px 30px 60px;
	width: 30px;
	height: 30px;
}

/*======== Header ========*/

.header {
	position: fixed;
	width: 102%;
	padding: 25px 0 15px 25px;
	border: none;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 20;
}

.header img {
	margin-top: 5px;
}

.header ul {
	padding: 9px 0 0 0px;
}

.header li {
	margin: 0 20px;
	padding: 0;
}

.header #last {
	margin-right: 0px;
}

.header li a {
	font-size: 1.3em;
}

.header li a:link, .header li a:visited {
	color: #FFF;
	border-bottom: none;
}

.header li a:hover, .header li a:active {
	color: #FFF;
	border-bottom: solid;
}

.header button {
	margin-right: 40px;
}

.btn-color-background {
	background-color: rgba(18, 18, 18, 0);
	margin-top: -2px;
}

.icon-bar {
	display: block;
	margin: 5px;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: #FFF;
}

/*======== Footer ========*/

.footer h4, a, li {
	color: #FFF;
	font-size: .8em;
}

/*======== Main Content ========*/

.main-content {
	padding: 220px 0px;
	margin: 0 50px;
}

.main-content .cta p {
	padding: 20px 0 10px 0;
	font-size: .9em;
}

.main-content .cta img {
	margin-left: -4px;
	height: 18px;
	width: 30px;
}

#landing-img {
	text-align: center;
	z-index: 10;
	padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    opacity: 0.8;
    filter: opacity(80);
}

#btn-back-to-top {
	position: fixed;
	bottom: 2%;
	right: 1.3%;
	padding: 6px 8px;
	background-color: rgba(0, 0, 255, 0.5);
	z-index: 5000;
}

#btn-back-to-top img {
	height: 35px;
	width: 33px;
}

.jumbotron {
	background-color: #000;
	text-align: center;
	padding: 10px 100px 0px;
	margin: 0px 0 -25px;
}

.jumbotron.transparent {
	margin-top: 50px;
	padding-top: 50px;
	background-color: rgba(0, 0, 0, 0);
}

.jumbotron h2 {
	font-size: 4em;
	margin-bottom: -5px;
	padding: 40px 0px 0px;
}

.jumbotron p {
	font-size: 1.1em;
	padding: 40px 150px 70px;
}

#work {
	padding: 30px 0;
}

#talent {
	padding-bottom: 15px;
}

#learning a:link,
#learning a:visited,
#talent a:link,
#talent a:visited {
	text-decoration: underline;
	font-size: 1em;
}

/*======== Network Details ========*/

#network-details {
	padding: 100px 0px 250px;
}

#network-details img {
	height: 40px;
	width: 40px;
	margin-bottom: 20px;
}

#network-details h3 {
	padding: 0px;
	font-size: 1.8em;
}

#network-details p {
	margin-top: 10px;
	padding: 0;
}

#network-details span {
	justify-content: center;
    margin: auto;
    width: 20px;
}

#network-details a:hover,
#network-details a:active {
	color: #FFF;
}

/*======== Parallax Content ========*/

.parallax {
	position: relative;
	height: auto;
	width: 100%;
	-moz-background-size: 100% auto;
	-webkit-background-size: 100% auto;
	-o-background-size: 100% auto;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: 0;
}

.parallax img {
	height: auto;
	width: 100%;
	opacity: 0;
    filter: alpha(opacity=0);
    z-index: -100;
}

.parallax .jumbotron {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
}

.parallax-section1 {
	background-image: url("assets/headshot_overlay.png");
}

.parallax-section2 {
	background-image: url("assets/northstar_ca.jpg");
}

.parallax-section3 {
	background-image: url("assets/bay_area_mist_below/opacity_35.jpg");
}

.parallax-section4 {
	background-image: url("assets/uber_screenshots/DSC00843 copy.JPG");	
}

.parallax-section5 {
	background-image: url("assets/uber_screenshots/cropped-img-laughing.jpg");
}

.parallax-section6 {
	height: 50%;
	background-image: url("assets/background3.jpg");
}

.parallax-section7 {
	background-image: url("assets/bay_area_night_life/10356373155_06bf9b4a8f_o.jpg");
}

.parallax-section8 {
	background-image: url("assets/split_screen_coding/opacity_30.jpg");
	margin-bottom: 50px;
}

/*======== Parallax Content - @media 1100 & 992 ========*/

@media screen and (max-width: 1100px) {
	.parallax {
		height: 100%;
		width: auto;
		-moz-background-size: auto 100%;
		-webkit-background-size: auto 100%;
		-o-background-size: auto 100%;
		background-size: auto 100%;
	}

	.parallax img {
		height: 100%;
		width: auto;
	}

	.jumbotron {
		padding: 30px 0px 10px;
		margin: 0px 0 -25px;
	}

	.jumbotron.transparent {
		margin-top: 0px;
		padding-top: 80px;
	}

	.jumbotron h2 {
		padding: 0px;
	}

	.jumbotron p {
		padding: 30px 90px;
	}

	#talent {
		padding-bottom: 50px;
	}
}

@media screen and (max-width: 992px) {
	#network-details {
		padding: 100px 0px 150px;
	}
}

/*======== Parallax Content - @media 768 ========*/

@media screen and (max-width: 768px) {
	.header {
		width: 104%;
		padding: 15px 0 5px 25px;
	}

	#btn-back-to-top img {
		height: 25px;
		width: 25px;
	}

	.jumbotron {
		padding: 0px 0px 10px;
	}

	.jumbotron.transparent {
		padding: 30px 0px;
	}

	.jumbotron p {
		padding: 30px 20px;
	}

	#talent {
		padding-top: 40px;
	}

	#network-details {
		padding: 40px 0px 80px;
	}

	#network-details img {
		height: 30px;
		width: 30px;
		margin-bottom: 0px;
	}

	#network-details h3 {
		margin: 15px 0;
	}

	#network-details p {
		margin: 6px;
	}

	#network-details span {
	    width: 20px;
	}
}

/*======== Parallax Content - @media 400 ========*/

@media screen and (max-width: 400px) {
	.header {
		padding: 10px 0 0px 0px;
	}

	#btn-back-to-top {
		bottom: 1%;
	}

	#btn-back-to-top img {
		height: 15px;
		width: 15px;
	}

	.jumbotron {
		padding: 0px 0px 10px;
	}

	.jumbotron.transparent {
		padding: 30px 0px;
	}

	.jumbotron p {
		padding: 30px 15px;
	}

	#talent {
		padding-top: 40px;
	}

	#network-details {
		padding: 40px 0px 80px;
	}

	#network-details img {
		height: 18px;
		width: 18px;
		margin-bottom: 0px;
	}

	#network-details h3 {
		margin: 10px 0;
	}

	#network-details p {
		margin: 6px;
	}

	#network-details span {
	    width: 10px;
	}
}

/*======== Miscellaneous ========*/




