/*======== Footer ========*/

.footer {
	margin: 0px 0 0 0;
	padding-bottom: 10px; 
	color: #949494;
}

.footer h4, a, li {
	color: #333333;
	font-size: .8em;
}

.footer .footer-bottom-text {
	margin-top: -25px;
	color: #949494;
	font-size: .8em;
}

.footer ul {
	list-style: none;
	padding-left: 0px;
	color: #949494;
}

.footer a:link, 
.footer a:visited {
	color: #949494;
}

.footer a:hover, 
.footer a:active {
	color: #333333;
	text-decoration: none;
}

#footer-container {
	margin-top: 50px;
}

#footer-bottom-text {
	padding: 40px 0px 0px 0px;
	margin-bottom: -40px 
}

#footer-bottom-text a {
	font-size: .9em;
	text-decoration: underline; 
}

.page-footer-copyright {
	font-size: .7em;
  	text-align: center;
	margin: 50px 0 0 0;
	padding-top: 15px; 
	border-top: 1px solid #949494;
}

#footer-personal-logo {
	margin: -2.7px 2px 0 0;
}

.language img {
	margin: -2.7px 5px 0 0;
}

.starting a:link,
.starting a:visited,
.starting a:hover,
.starting a:active {
	color: #949494;
	text-decoration: none;
	cursor: default;
}

@media screen and (max-width: 768px) {
	.footer {
		margin: 0px 30px 0;
	}
}

@media screen and (max-width: 480px) {
	.footer {
		margin: -35px 10px 0;
	}
}

@media screen and (max-width: 400px) {
	.footer {
		margin: -35px 30px 0;
	}
}