/*********************************************
1. Global Styles
2. Header
3. Footer
4. Main Content
5. Bootstrap Col Override
X. Miscellaneous
*********************************************/

/*======== Global Styles ========*/
body {
	font-family: "Futura PT", Helvetica, sans-serif;
	background-color: #CCCCCC;
	color: #FFF;
}

a:link, a:visited {
	color: #FFF;
}

a:hover, a:active {
	color: #949494;
	text-decoration: none;
}

/*======== Header ========*/

.icon-bar {
	display: block;
	margin: 5px;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: #FFF;
}

.icon {
	padding: 60px;
}

.icon img {
	margin: 30px 5px;
	width: 30px;
	height: 30px;
}

.icon-bar {
	display: block;
	margin: 5px;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: #FFF;
}

.btn-color-background {
	background-color: #CCCCCC;
	position: absolute;
	right: 2%;
	margin-top: 15px;
}

/*======== Footer ========*/

/*======== Main-Content ========*/

.main-content {
	padding-top: 100px;
  margin: 0 4.4%;
	margin-bottom: -7px;
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 480px) {
}


.landing-header h1 {
	font-size: 2em;
	text-align: center;
}

p.cta {
	padding-top: 20px;
}

.cta.row {
	margin: 0px 0px 0px;
	padding: 0px 20px;
}

.cta-2.row {
	margin: 0 0 20px;
}

#icon-container {
	margin-bottom: 0px;
}

.cta.row a {
	padding: 20px 80px 20px;
}

.cta.row p {
	margin: -20px 0 0 0;
	z-index: -1000;
	opacity: 0.3;
    filter: alpha(opacity=30);
}

.cta.row img {
	z-index: 1000;
}

.cta.row #p-about {
	margin-left: 3px;
}

.cta.row #p-res {
	margin-left: -10px;
}

.cta.row #p-contact {
	margin-left: -3px;
}

.cta.row #p-gh {
	margin-left: 1px;
}

.cta.row #p-in {
	margin-left: -4px;
}

a:hover, a:active {
	color: #FFF;
}

/*======== Bootstrap Col Override ========*/

.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 23%;
}
.col-xs-offset-1 {
  margin-left: 9.6%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 12.7%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }

  .col-md-offset-3 {
    margin-left: 31%;
  }
  .col-md-offset-2 {
    margin-left: 22%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-offset-4 {
    margin-left: 34.3%;
  }
  .col-lg-offset-3 {
    margin-left: 27%;
  }
}

/*======== Miscellaneous ========*/
