/*********************************************
1. Global Styles
2. Background
3. Header
4. Footer
5. Waves
X. Miscellaneous
*********************************************/

/*======== Global Styles ========*/
body {
	font-family: "Futura PT", Helvetica, sans-serif;
	background-color: #CCCCCC;
	color: #FFF;
}

a:link, a:visited {
	color: #FFF;
}

a:hover, a:active {
	color: #00F;
	text-decoration: none;
}

/*======== Background ========*/

.main-content {
	padding-top: 100px;
	margin-bottom: 30px;
}

/*======== Header ========*/

.header {
	text-align: center;
	margin: 15px 15px;
}

.header img {
	margin-top: 5px;
}

.icon-bar {
	display: block;
	margin: 5px;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: #FFF;
}

/*======== Footer ========*/

.footer {
	margin: 0px 0 0 0;
	padding-bottom: 10px; 
	color: #949494;
}

.footer h4, a, li {
	color: #333333;
	font-size: .8em;
}

.footer .footer-bottom-text {
	margin-top: -25px;
	color: #949494;
	font-size: .8em;
}

.footer ul {
	list-style: none;
	padding-left: 0px;
	color: #949494;
}

.footer .row a:link, .footer .row a:visited {
	color: #949494;
}

.footer .row a:hover, .footer .row a:active {
	color: #333333;
	text-decoration: none;
}

#footer-bottom-text {
	padding: 40px 0px 5px 0px;
	border-bottom: 1px solid #949494;
}

.page-footer-copyright {
	font-size: .7em;
  	text-align: center;
	padding-top: 15px; 
}

#footer-personal-logo {
	margin: -2.7px 2px 0 0;
}

.language img {
	margin: -2.7px 5px 0 0;
}

/*======== Waves ========*/



/*======== Miscellaneous ========*/

.landing-header h1 {
	font-size: 2em;
	text-align: center;
}

h2 {
	font-size: .8em;
	position: absolute;
	top: 1%;
	left: 3%;
}

.cta.row {
	margin: 40px 0;
}

.icon {
	padding: 60px;
}

.icon img {
	margin: 30px 5px;
	width: 30px;
	height: 30px;
}

.icon-bar {
	display: block;
	margin: 5px;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: #FFF;
}

.btn-color-background {
	background-color: #CCCCCC;
	position: absolute;
	right: 2%;
	margin-top: 15px;
}

p.cta {
	padding-top: 20px;
}