/*********************************************
1. Global Styles
2. Background
X. Miscellaneous
*********************************************/

/*======== Global Styles ========*/
body {
	font-family: "Futura PT", Helvetica, sans-serif;
	background-color: #CCCCCC;
	color: #FFF;
}

a:link, a:visited {
	color: #FFF;
}

a:hover, a:active {
	color: #00F;
	text-decoration: none;
}

/*======== Background ========*/

.container {
	padding-left: 100px;
	padding-right: 100px;
	position:absolute;
	left:4%;
	top:8%;
	
}

/*======== Miscellaneous ========*/

.landing-header h1 {
	font-size: 2em;
	text-align: center;
}

h2 {
	font-size: .8em;
	position: absolute;
	top: 1%;
	left: 3%;
}

.cta.row {
	margin: 40px;
}

.icon img {
	margin: 30px 60px 30px 60px;
	width: 30px;
	height: 30px;
}

.icon-bar {
	display: block;
	margin: 5px;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: #FFF;
}

.btn-color-background {
	background-color: #CCCCCC;
	position: absolute;
	right: 2%;
	margin-top: 15px;
}

p.cta {
	padding-top: 20px;
}