/*********************************************
1. Global Styles
1. Background
*********************************************/

/*======== Global Styles ========*/
body {
	background-color: #333;
	color: #fff;
}

/*======== Background ========*/
h1 {
	color: #0000FF;
}

.img-responsive.background {
	filter:alpha(opacity=40);
		-moz-opacity:0.4;
		-khtml-opacity: 0.4;
	opacity: 0.4;
}

.container {
	position:absolute;
	left:4%;
	top:0%;
	
}

.btn.btn-default {
	background-color: #333;
	color: #fff;
}