/*********************************************
1. Global Styles
2. Header
3. Footer
4. Main Content
X. Miscellaneous
*********************************************/

/*======== Global Styles ========*/

body {
	font-family: "Futura PT", Helvetica, sans-serif;
	background-color: #000;
	color: #FFF;
}

h2 {
	font-size: .8em;
	position: absolute;
	top: 1%;
	left: 3%;
}

sup {
	font-size: .5em;
}

a:link, a:visited {
	color: #FFF;
}

a:hover, a:active {
	color: #949494;
	text-decoration: none;
}

.icon img {
	margin: 30px 60px 30px 60px;
	width: 30px;
	height: 30px;
}

/*======== Header ========*/

.header {
	text-align: center;
	margin: 15px 15px;
	border: none;
}

.header img {
	margin-top: 5px;
}

.header button {
	margin-right: -19px;
}

.btn-color-background {
	background-color: #000;
	position: absolute;
	right: 3.6%;
	margin-top: -7px;
}

.icon-bar {
	display: block;
	margin: 5px;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: #FFF;
}

/*======== Footer ========*/

.footer h4, a, li {
	color: #FFF;
}

/*======== Main Content ========*/

.main-content {
	padding: 200px 0px;
	margin: 0 50px;
}

.main-content .cta p {
	padding: 20px 0 10px 0;
	font-size: .9em;
}

.main-content .cta img {
	margin-left: -4px;
	height: 18px;
	width: 30px;
}

/*======== Miscellaneous ========*/




