/*********************************************
1. Global Styles
2. Header
3. Footer
4. CTA Items
5. Item Image Animations
X. Miscellaneous
*********************************************/

/*======== Global Styles ========*/

body {
	font-family: "Futura PT", Helvetica, sans-serif;
	background-color: #CCCCCC;
	color: #FFF;
	height: 100%;
}

h2 {
	font-size: .8em;
	position: absolute;
	top: 1%;
	left: 3%;
}

sup {
	font-size: .5em;
}

a:link, a:visited {
	color: #FFF;
}

a:hover, a:active {
	color: #949494;
	text-decoration: none;
}

/*======== Header ========*/

.header {
	text-align: center;
	margin: 15px 15px;
}

.header img {
	margin-top: 5px;
}

.icon-bar {
	display: block;
	margin: 5px;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: #FFF;
}

/*======== Footer ========*/

#explore-btn {
	cursor: default;
	color: #949494;
}

/*======== CTA Items ========*/

#all-items-container {
	margin-bottom: 5px;
}

#all-items-container a:hover, #all-items-container a:active {
	color: #FFF;
}

.item-container {
	border: solid;
	border-width: 4px;
	border-color: #000;
	height: 440px;
	position: relative;
}

.item-container 

.item-container img {
	z-index: 0;
}

.item-container .item-content {
	position: absolute;
	bottom: 6%;
	left: 9%;
}

.item-container .item-content img {
	margin: -5px 10px 5px 0px;
	width: 30px;
	height: 30px;
}

.item-photo-1 img {
	position: absolute;
	right: -40%;
	bottom: -40%;
}

.item-container .item-content-3 {
	position: absolute;
	bottom: 6%;
	left: 9%;
}

.item-container .item-content-3 img {
	position: absolute;
	bottom: 40%;
	left: 0%;
}

.item-container .item-content-3 span {
	position: absolute;
	bottom: 70%;
	left: 52%;
}

.item-container .item-content-6 {
	position: absolute;
	bottom: 6%;
	left: 9%;
}

.item-content-8 {
	margin: 0px 0px 12px 55px;
}

.item-content-8 div {
	margin: 0px 0px -28px -57px;
}

.item-content-8 p {
	margin: 0px 0px 0px -55px;
}

.item-content-8 .icon-bar {
	display: block;
	margin: 5px;
	width: 35px;
	height: 3px;
	border-radius: 1px;
	background-color: #FFF;
}

.first-item {
	background-color: #0000D6;
}

.second-item {
	background-color: #72b300;
}

.item-photo-2 {
	position: absolute;
	right: -8%;
	top: 0%;
}

.third-item {
	background-color: #D47200;
}

.third-item figure {
	-ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.third-item figure img {
	margin: -80px 275px 0 0;
}

.fourth-item {
	background-color: #FFF;
	color: #000;
}

.fourth-item img {
	margin-top: 20px;
}

.fifth-item {
	background-color: #121212;
}

.sixth-item {
	background-color: #D4B329;
}

.item-photo-6 {
	margin-top: 15px;
	border-radius: 10px;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	height: 150px;
	background-image: url("assets/Computer_Program1_8244.jpg");
}

.item-photo-6 .jumbotron {
	background-color: rgba(255, 255, 255, 0);
}

.seventh-item {
	background-color: #131241;
}

.seventh-item img {
	margin: 0 -20px 0 0;
}

.eigth-item {
	background-color: #C92228;
}

.eigth-item img {
	margin-top: 40px;
}

.ninth-item {
	background-color: #0ED482;
}

.tenth-item {
	background-color: #6DA8D4;
}

/*======== Item Image Animations ========*/

.item-container {
  overflow: hidden;
}

figure img {
  -webkit-transition: all 0.5s linear;
          transition: all 0.5s linear;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
}

figure:hover img {
  -webkit-transform: scale3d(1.2, 1.2, 1);
          transform: scale3d(1.2, 1.2, 1);
}

/*======== Miscellaneous ========*/

.btn-color-background {
	background-color: #CCCCCC;
	position: absolute;
	right: 2%;
	margin-top: -1px;
}

.cta.row {
	margin: 40px;
}

.icon img {
	margin: 30px 60px 30px 60px;
	width: 30px;
	height: 30px;
}
