/*********************************************
1. Global Styles
2. Header
3. Footer
4. CTA Items
X. Miscellaneous
*********************************************/

/*======== Global Styles ========*/

body {
	font-family: "Futura PT", Helvetica, sans-serif;
	background-color: #CCCCCC;
	color: #FFF;
	height: 100%;
}

h2 {
	font-size: .8em;
	position: absolute;
	top: 1%;
	left: 3%;
}

sup {
	font-size: .5em;
}

a:link, a:visited {
	color: #FFF;
}

a:hover, a:active {
	color: #949494;
	text-decoration: none;
}

/*======== Header ========*/

.header {
	text-align: center;
	margin: 15px 15px;
}

.header img {
	margin-top: 5px;
}

.icon-bar {
	display: block;
	margin: 5px;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: #FFF;
}

/*======== Footer ========*/

.footer {
	margin: 0px 0 0 0;
	padding-bottom: 10px; 
	color: #949494;
}

.footer h4, a, li {
	color: #333333;
	font-size: .8em;
}

.footer .footer-bottom-text {
	margin-top: -25px;
	color: #949494;
	font-size: .8em;
}

.footer ul {
	list-style: none;
	padding-left: 0px;
	color: #949494;
}

.footer .row a:link, .footer .row a:visited {
	color: #949494;
}

.footer .row a:hover, .footer .row a:active {
	color: #333333;
	text-decoration: none;
}

#footer-bottom-text {
	padding: 40px 0px 0px 0px;
	margin-bottom: -40px 
}

.page-footer-copyright {
	font-size: .7em;
  	text-align: center;
	margin: 50px 0 0 0;
	padding-top: 15px; 
	border-top: 1px solid #949494;
}

#footer-personal-logo {
	margin: -2.7px 2px 0 0;
}

.language img {
	margin: -2.7px 5px 0 0;
}

/*======== CTA Items ========*/

#all-items-container {
	margin-bottom: 5px;
}

.item-container {
	border: solid;
	border-width: 4px;
	border-color: #000;
	height: 440px;
	position: relative;
}

.item-container img {
	z-index: 0;
}

.item-container .item-content {
	position: absolute;
	bottom: 6%;
	left: 9%;
}

.item-container .item-content img {
	margin: -5px 10px 5px 0px;
	width: 30px;
	height: 30px;
}

.item-photo-1 img {
	position: absolute;
	right: -40%;
	bottom: -40%;
}

.item-container .item-content-3 {
	position: absolute;
	bottom: 6%;
	left: 9%;
}

.item-container .item-content-3 img {
	position: absolute;
	bottom: 40%;
	left: 0%;
}

.item-container .item-content-3 span {
	position: absolute;
	bottom: 70%;
	left: 52%;
}

.item-container .item-content-6 {
	position: absolute;
	bottom: 6%;
	left: 9%;
}

.first-item {
	background-color: #0000D6;
}

.second-item {
	background-color: #6DA8D4;
}

.third-item {
	background-color: #D47200;
}

.fourth-item {
	background-color: #D40000;
}

.fifth-item {
	background-color: #121212;
}

.sixth-item {
	background-color: #D4B329;
}

.seventh-item {
	background-color: #131241;
}

.eigth-item {
	background-color: #F0F;
}

.ninth-item {
	background-color: #0ED482;
}

/*======== Miscellaneous ========*/

.btn-color-background {
	background-color: #CCCCCC;
	position: absolute;
	right: 2%;
	margin-top: -1px;
}

.cta.row {
	margin: 40px;
}

.icon img {
	margin: 30px 60px 30px 60px;
	width: 30px;
	height: 30px;
}

p.cta {
	padding-top: 20px;
}