/*********************************************
1. Global Styles
2. Header
3. Footer
4. CTA Items - General
5. CTA Items - Main Img Dimensions
6. CTA Items - Specific Dim.
7. CTA Items - Background Colors
8. Item Image Animations
9. @media max: 1200 & 768
10. @media max: 480
X. Miscellaneous
*********************************************/

/*======== Global Styles ========*/

body {
	font-family: "Futura PT", Helvetica, sans-serif;
	background-color: #CCCCCC;
	color: #FFF;
	height: 100%;
}

h2 {
	font-size: .8em;
	position: absolute;
	top: 1%;
	left: 3%;
}

sup {
	font-size: .5em;
}

a:link, a:visited {
	color: #FFF;
}

a:hover, a:active {
	color: #949494;
	text-decoration: none;
}

/*======== Header ========*/

.header {
	text-align: center;
	margin: 15px 15px 19px;
}

.header img {
	margin-top: 5px;
}

.items-nav {
	margin-top: 2px;
}

.icon-bar {
	display: block;
	margin: 5px;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: #FFF;
}

.btn-color-background {
	background-color: #CCCCCC;
	position: absolute;
	right: 2%;
	margin-top: -1px;
}

/*======== Footer ========*/

#explore-btn {
	cursor: default;
	color: #949494;
}

/*======== CTA Items - General ========*/

#all-items-container {
	margin-bottom: 5px;
}

#all-items-container a:hover, #all-items-container a:active {
	color: #FFF;
}

.item-container {
	border: solid;
	border-width: 4px;
	border-color: #000;
	height: 440px;
	position: relative;
}

.item-container img {
	z-index: 0;
}

.item-container .item-content {
	position: absolute;
	bottom: 6%;
	left: 9%;
}

.item-container .item-content img {
	margin: -5px 10px 5px 0px;
	width: 30px;
	height: 30px;
}

/*======== CTA Items - Main Img Dimensions ========*/

.first-item figure img {
	height: 615px;
	width: 515px;
}

.second-item figure img {
	height: 320px;
	width: 240px;
}

.third-item figure img {
	height: 320px;
	width: 240px;
}

.fourth-item figure img {
	height: 225px;
	width: 400px;
}

.fifth-item figure img {
	height: 320px;
	width: 240px;
}

.sixth-item figure img {
	/*none*/
}

.seventh-item figure img {
	margin: 0 -20px 0 0;
	height: 430px;
	width: 1040px;
}

.eigth-item figure img {
	margin-top: 40px;
	height: 150px;
	width: 256px;
}

.ninth-item figure img {
	height: 320px;
	width: 240px;
}

/*======== CTA Items - Specific Dim. ========*/

.item-photo-1 img {
	position: absolute;
	right: -40%;
	bottom: -40%;
}

.item-container .item-content-3 {
	position: absolute;
	bottom: 6%;
	left: 9%;
}

.item-container .item-content-3 img {
	position: absolute;
	bottom: 40%;
	left: 0%;
}

.item-container .item-content-3 span {
	position: absolute;
	bottom: 70%;
	left: 52%;
}


.third-item figure {
	-ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}

.third-item figure img {
	margin: -80px 275px 0 0;
	height: 320px;
	width: 240px;
}

.fourth-item img {
	margin-top: 2%;
	margin-right: -2%;
}

.item-container .item-content-6 {
	position: absolute;
	bottom: 6%;
	left: 9%;
}

.item-photo-6 {
	margin-top: 15px;
	border-radius: 10px;
	border-color: white;
	border-style: solid;
	border-width: 1px;
	height: 150px;
	background-image: url("assets/Computer_Program1_8244.jpg");
}

.item-photo-6 .jumbotron {
	background-color: rgba(255, 255, 255, 0);
}

.item-content-8 {
	margin: 0px 0px 12px 55px;
}

.item-content-8 div {
	margin: 0px 0px -28px -57px;
}

.item-content-8 p {
	margin: 0px 0px 0px -55px;
}

.item-content-8 .icon-bar {
	display: block;
	margin: 5px;
	width: 35px;
	height: 3px;
	border-radius: 1px;
	background-color: #FFF;
}

/*======== CTA Items - Background Colors ========*/

.first-item {
	background-color: #0000D6;
}

.second-item {
	background-color: #72b300;
}

.item-photo-2 {
	position: absolute;
	right: -8%;
	top: 0%;
}

.third-item {
	background-color: #D47200;
}

.fourth-item {
	background-color: #FFF;
	color: #000;
}

.fifth-item {
	background-color: #121212;
}

.sixth-item {
	background-color: #D4B329;
}

.seventh-item {
	background-color: #000;
}

.eigth-item {
	background-color: #C92228;
}

.ninth-item {
	background-color: #0ED482;
}

.tenth-item {
	background-color: #6DA8D4;
}

/*======== Item Image Animations ========*/

.item-container {
	overflow: hidden;
}

figure img {
    -webkit-transition: all 0.5s linear;
        transition: all 0.5s linear;
    -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
}

figure:hover img {
    -webkit-transform: scale3d(1.2, 1.2, 1);
        transform: scale3d(1.2, 1.2, 1);
}



/*======== @media max: 1200 & 768 ========*/

@media screen and (max-width: 1200px) {
	.third-item figure img {
		position: absolute;
		right: 10%;
		margin-top: 0%;
	}
}

@media screen and (max-width: 768px) {
	.item-container {
		border-width: 3px;
		border-color: #000;
		height: 375px;
		position: relative;
	}

    .item-container .item-content {
		position: absolute;
		bottom: 4%;
		left: 6%;
		font-size: 1em;
	}

	.item-container .item-content img {
		margin: 0px 8px 6px 0px;
		width: 30px;
		height: 30px;
	}

	.item-container .item-content h3 {
		margin: 0 0 7px;
		font-size: 2em;
	}

	.first-item figure img {
		margin-right: 12%;
		height: 492px;
		width: 412px;
	}

	.second-item figure img {
		height: 288px;
		width: 216px;
	}

	.third-item figure img {
		position: absolute;
		right: 10%;
		margin-top: 12%;
		height: 288px;
		width: 216px;
	}

	.fourth-item figure img {
		margin-right: 0%;
		height: 202px;
		width: 360px;
	}

	.fifth-item figure img {
		height: 288px;
		width: 216px;
	}

	.sixth-item figure img {
		/*none*/
	}

	.item-photo-6 {
		position: absolute;
		top: 3%;
		right: 5%;
		height: 135px;
		width: 400px;
	}

	.seventh-item figure img {
		margin: 27px -160px 0 0;
		height: 344px;
		width: 832px;
	}

	.eigth-item figure img {
		margin-top: 40px;
		height: 150px;
		width: 256px;
	}

	.ninth-item figure img {
		height: 288px;
		width: 216px;
	}
}

/*======== @media max: 480 ========*/

@media screen and (max-width: 480px) {
	.item-container {
		border-width: 2px;
		border-color: #000;
		height: 300px;
		position: relative;
	}

	.item-container figure img {
		position: absolute;
		top: 4%;
		right: 2%;
	}

    .item-container .item-content {
		position: absolute;
		bottom: 4%;
		left: 8%;
		font-size: .8em;
	}

	.item-container .item-content img {
		margin: 0px 5px 5px 0px;
		width: 20px;
		height: 20px;
	}

	.item-container .item-content h3 {
		margin: 0 0 4px;
		font-size: 1.5em;
	}

	.first-item figure img {
		margin-right: -70px;
		height: 307px;
		width: 257px;
	}

	.second-item figure img {
		height: 224px;
		width: 168px;
	}

	.third-item figure img {
		right: -15%;
		margin-top: 14px;
		height: 224px;
		width: 168px;
	}

	.third-item h3 {
		font-size: 1.3em;
	}

	.fourth-item figure img {
		height: 169px;
		width: 300px;
	}

	.fifth-item figure img {
		height: 224px;
		width: 168px;
	}

	.sixth-item figure img {
		/*none*/
	}

	.item-photo-6 {
		position: absolute;
		top: 2%;
		right: 5%;
		height: 130px;
		width: 300px;
	}

	.seventh-item figure img {
		margin: 35px -60px 0 0;
		height: 258px;
		width: 624px;
	}

	.eigth-item figure img {
		margin-top: 0px;
		margin-right: 15px;
		height: 120px;
		width: 205px;
	}

	.item-content-8 {
		margin: 0px 0px 12px 43px;
	}

	.item-content-8 div {
		margin: 0px 0px -16.3px -45px;
	}

	.item-content-8 p {
		margin: 8px 0px 0px -43px;
	}

	.item-content-8 .icon-bar {
		margin: 3px;
		width: 30px;
		height: 2px;
	}

	.ninth-item figure img {
		height: 224px;
		width: 168px;
	}
}

/*======== Miscellaneous ========*/

.cta.row {
	margin: 40px;
}

.icon img {
	margin: 30px 60px 30px 60px;
	width: 30px;
	height: 30px;
}
