/*********************************************
1. Global Styles
2. Header
3. Footer
4. Main Content
5. Main Content - CTA @media
6. Modals
X. Miscellaneous
*********************************************/

/*======== Global Styles ========*/

html, body {
	font-family: "Futura PT", Helvetica, sans-serif;
	background-color: #000;
	color: #FFF;
	height: 100%;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
	margin-bottom: 20px;
}

h2 {
	font-size: 1em;
	padding-bottom: 4px;
	border-width: 2px;
	border-color: #FFF;
}

sup {
	font-size: .5em;
}

a:link, a:visited {
	color: #FFF;
}

a:hover, a:active {
	color: #949494;
	text-decoration: none;
}

.icon img {
	margin: 30px 60px 30px 60px;
	width: 30px;
	height: 30px;
}

/*======== Header ========*/

.header {
	position: fixed;
	width: 100%;
	z-index: 1000;
	text-align: center;
	margin: 0;
	padding: 15px 15px 25px;
	background-color: rgba(0, 0, 0, .6);
}

.header button {
	z-index: 2000;
}

.header img {
	margin-top: 5px;
}

.icon-bar {
	display: block;
	margin: 5px;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: #FFF;
}

.btn-color-background {
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	right: 2%;
	margin-top: -1px;
}

/*======== Footer ========*/

.footer {
	padding: 0 100px;
	margin: 0px -100px;
	background-color: #000;
}

#footer-container {
	padding-top: 100px;
}

.footer h4, a, li {
	color: #FFF;
}

/*======== Main Content ========*/

.parallax {
	height: 40%;
	background-size: cover;
	background-repeat: no-repeat;
}

.parallax-section1 {
	background-image: url("assets/bay_area_bart/cropped_large_background.jpg");
	background-size: 100% auto;
}

#main-content {
	z-index: 1000;
	background-color: #000;
	text-align: center;
	padding: 0px 20px 0px;
	margin: -20px 0 0;
}

#main-content .item {
	padding: 0px 30px;
}

#main-content img {
	margin-top: 60px;
	height: 35px;
	width: 35px;
}

#main-content h2 {
	font-size: 1.4em;
	padding: 0 40px;
}

#main-content .item3 h2 {
	padding: 0 80px;
}

#main-content p {
	height: 145px;
	font-size: .8em;
	line-height: 1.7em;
	padding: 0px 0px;
}

/*======== Main Content - CTA @media ========*/

@media screen and (max-width: 1200px) {
	#main-content h2 {
		padding: 0 20px;
	}

	#main-content .item3 h2 {
		padding: 0 30px;
	}
}

@media screen and (max-width: 900px) {
	#main-content h2 {
		padding: 0 40px;
	}

	#main-content .item3 h2 {
		padding: 0 0px;
	}
}

@media screen and (max-width: 768px) {
	.header {
		padding: 15px 0 18px 25px;
		font-size: .8em;
	}

	.header img {
		margin-top: 5px;
		height: 21px;
		width: 30px;
	}

	.header button {
		margin: -7px 10px 0 0;
	}

	#main-content h2 {
		padding: 0 0px;
	}

	#main-content .item {
		padding: 0px 80px;
	}
}

@media screen and (max-width: 540px) {
	#main-content img {
		margin-top: 30px;
		height: 25px;
		width: 25px;
	}

	#main-content .item {
		padding: 0px 20px;
	}

	#main-content p {
		height: 100px;
	}
}

@media screen and (max-width: 450px) {
	.header {
		padding: 10px 0 13px 5px;
		font-size: .8em;
	}

	.header img {
		height: 15px;
		width: 27px;
	}

	.header button {
		margin: -7px 10px 0 0;
	}

	.icon-bar {
		margin: 4px;
		width: 15px;
		height: 1px;
	}

	#main-content img {
		height: 25px;
		width: 25px;
	}

	#main-content h2 {
		font-size: 1.1em;
	}

	#main-content p {
		height: 90px;
		font-size: .7em;
		line-height: 1.5em;
	}
}

@media screen and (max-width: 360px) {
	#main-content img {
		height: 25px;
		width: 25px;
	}

	#main-content h2 {
		font-size: 1.1em;
	}

	#main-content p {
		height: 90px;
		font-size: .7em;
		line-height: 1.5em;
	}
}

/*======== Modals ========*/

.modal-content {
	color: #000;
	text-align: left;
}

#replyModal .modal-footer {
	margin: -10px 0 0 0;
}

#replyModal .modal-footer p {
	margin: 0 0 -110px 0;
	color: red;
}

#shareModal .modal-body a {
	margin: 5px 21.8px;
}

/*======== Miscellaneous ========*/

#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 10px; /* Rounded borders */
    padding: 10px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1000; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}




