/*********************************************
1. Global Styles
2. Header
3. Footer
3. Content Header
3. Main Content
X. Miscellaneous
*********************************************/

/*======== Global Styles ========*/
html, body {
	background-color: #000;
	color: #FFF;
}

a:link, a:visited {
	color: #FFF;
}

a:hover, a:active {
	color: #949494;
	text-decoration: none;
}

/*======== Header ========*/

.icon-bar {
	background-color: #000;
}

/*======== Footer ========*/

.footer h4, a, li {
	color: #FFF;
	font-size: .8em;
}

/*======== Content Header ========*/

.container-fluid {
	background-color: #FFFFFF; 
}

.content-header {
	color: #000;
}

#content-header-photo {
	position: absolute;
	right: 0%;
	top: 5%;
	z-index: 100;
}

/*======== Main Content ========*/

/*======== Miscellaneous ========*/

@media screen and (max-width: 480px) {
	#content-header-photo {
		margin-top: 30px;
		height: 30%;
	}
}