/*********************************************
1. Global Styles
2. Header
3. Footer
3. Content Header
3. Main Content
X. Miscellaneous
*********************************************/

/*======== Global Styles ========*/

/*======== Header ========*/

/*======== Footer ========*/

/*======== Content Header ========*/

.container-fluid {
	background-color: #6DA8D4; 
}

#content-header-photo {
	position: absolute;
	right: 5%;
	top: 8%;
}

/*======== Main Content ========*/

/*======== Miscellaneous ========*/