/*********************************************
1. Global Styles
2. Header
3. Footer
4. Content Header
5. Main Content
6. @media
X. Miscellaneous
*********************************************/

/*======== Global Styles ========*/

html, body {
	font-family: "Futura PT", Helvetica, sans-serif;
	background-color: #FFF;
	color: #000;
	height: 100%;
}

h2 {
	font-size: .8em;
	position: absolute;
	top: 1%;
	left: 3%;
}

h3 {
	font-size: 1.1em;
}

sup {
	font-size: .5em;
}

a:link, a:visited {
	font-size: 1em;
	color: #000;
}

a:hover, a:active {
	color: #949494;
	text-decoration: none;
}

button {
	z-index: 1000;
}

/*======== Header ========*/

.btn-color-background {
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	right: 2%;
	margin-top: -1px;
}

.header {
	position: fixed;
	width: 100%;
	z-index: 1000;
	text-align: center;
	margin: 0;
	padding: 15px 15px 25px;
}

.header button {
	z-index: 2000;
}

.header img {
	margin-top: 5px;
}

.icon-bar {
	display: block;
	margin: 5px;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: #FFF;
}

/*======== Footer ========*/

.footer {
	margin-top: 100px
}

/*======== Content Header ========*/

.container {
	padding: 0;
}

.container-fluid {
	height: -moz-calc(100% - 80px); /* Firefox */
	height: -webkit-calc(100% - 80px); /* Chrome, Safari */
	height: calc(100% - 80px); /* IE9+ and future browsers */
	background-color: yellow; 
}

.content-header {
	color: #FFF;
}

#content-header-photo {
	position: absolute;
	right: 0%;
	bottom: 11%;
	z-index: 100;
	height: 50%;
	width: auto;
}

.item-header {
	position: absolute;
	bottom: 15%;
	left: 4%;
	z-index: 100;
}

.content-header .item-header h3 {
	margin: 40px 0px;
}

.content-header .item-header img {
	margin: -50px 20px 0 -10px;
	height: 70px;
	width: 70px;
}

.slider {
	position: fixed;
	bottom: 2.5%;
	width: 100%;
}

#needle {
	position: absolute;
	height: 9px;
	width: 3.6px;
	bottom: 57%;
	left: 49.9%;
}

/*======== Main Content ========*/

.main-content {
	padding: 7% 0 0 2.5%;
}

.main-content h3, p {
	font-size: 1em;
}

.short-desc {
	padding-bottom: 100px; 
}

.short-desc .desc {
	padding: 15px 20px 0 0;
	line-height: 2em;
}

.short-desc div {
	line-height: .8em;
	margin: 0 20px 0 50px; 
}

.gallery-images {
	position: relative;
	background-color: yellow;
	margin: 0;
	padding: 200px;
}

#gallery-images-caption {
	padding: 40px 0 100px 40px;
	font-size: .8em;
}

.sub-content {
	padding: 0 0 100px 0;
}

/*======== @media ========*/

@media screen and (max-width: 768px) {
	.content-header .item-header {
		left: 7%;
		bottom: 20%;
	}

	.content-header .item-header img {
		margin: -50px 20px 0 -10px;
		height: 50px;
		width: 50px;
	}

	.main-content {
		padding: 12% 4% 0 8%;
	}
}

@media screen and (max-width: 480px) {
	#content-header-photo {
		margin-top: 30px;
		height: 40%;
	}

	.content-header .item-header img {
		margin: -20px 20px 0 -10px;
		height: 40px;
		width: 40px;
	}

	.content-header .item-header h3 {
		margin: 10px 0px;
	}

	#needle {
		position: absolute;
		left: 49.47%;
	}

	.main-content {
		padding: 18% 3% 0 12%;
	}

	.short-desc div {
		line-height: .8em;
		margin: 0; 
	}
}

/*======== Miscellaneous ========*/
