/*********************************************
1. Global Styles
2. Header
3. Footer
3. Content Header
3. Main Content
X. Miscellaneous
*********************************************/

/*======== Global Styles ========*/

/*======== Header ========*/

/*======== Footer ========*/

/*======== Content Header ========*/

.container-fluid {
	background-color: #72b200; 
}

#content-header-photo {
	position: absolute;
	right: 0%;
	top: -12.5%;
	height: 101%;
	width: auto;
}

.slider {
	padding-top: 34px;
	background-color: #fff;
	z-index: 10000;
}

#needle {
	position: absolute;
	bottom: 28%;
	left: 49.9%;
}

/*======== Main Content ========*/

.gallery-images {
	padding: 280px;
}

.gallery-images #gal-img-1 {
	position: absolute;
	left: -2%;
	top: 10%;
	width: 450px;
	height: auto;
}

.gallery-images #gal-img-2 {
	position: absolute;
	left: 31%;
	top: 5%;
	width: 350px;
	height: auto;
	z-index: 1;
}

.gallery-images #gal-img-3 {
	position: absolute;
	right: 1%;
	top: 8%;
	width: 460px;
	height: auto;
}

.intro {
	margin: 100px 20px 0px -2%;
	font-size: .8em;
}

.intro h3 {
	text-align: center;
	font-size: 1.2em;
	margin-bottom: 20px;
}

.intro li {
	font-size: 1em;
}

.intro h4 {
	font-size: 1em;
}

.bigO {
	margin: 0;
	padding: 0;
}

/*======== Miscellaneous ========*/

@media screen and (max-height: 660px) {
	.content-header .item-header {
		margin-bottom: 15px;
	}
}