/*********************************************
1. Global Styles
2. Header
3. Footer
4. Content Header
5. Main Content
X. Miscellaneous
*********************************************/

/*======== Global Styles ========*/

html, body {
	font-family: "Futura PT", Helvetica, sans-serif;
	background-color: #FFF;
	color: #000;
	height: 100%;
}

h2 {
	font-size: .8em;
	position: absolute;
	top: 1%;
	left: 3%;
}

sup {
	font-size: .5em;
}

a:link, a:visited {
	color: #FFF;
}

a:hover, a:active {
	color: #949494;
	text-decoration: none;
}

button {
	z-index: 1000;
}

/*======== Header ========*/

.btn-color-background {
	background-color: rgba(0, 0, 0, 0);
	position: absolute;
	right: 2%;
	margin-top: -1px;
}

.header {
	position: fixed;
	width: 100%;
	z-index: 1000;
	text-align: center;
	margin: 0;
	padding: 15px 15px 25px;
}

.header button {
	z-index: 2000;
}

.header img {
	margin-top: 5px;
}

.icon-bar {
	display: block;
	margin: 5px;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: #FFF;
}

/*======== Footer ========*/

.footer {
	margin: 0px 0 0 0;
	padding-bottom: 10px; 
	color: #949494;
}

.footer h4, a, li {
	color: #333333;
	font-size: .8em;
}

.footer .footer-bottom-text {
	margin-top: -25px;
	color: #949494;
	font-size: .8em;
}

.footer ul {
	list-style: none;
	padding-left: 0px;
	color: #949494;
}

.footer .row a:link, 
.footer .row a:visited {
	color: #949494;
}

.footer .row a:hover, 
.footer .row a:active {
	color: #333333;
	text-decoration: none;
}

#footer-bottom-text {
	padding: 40px 0px 0px 0px;
	margin-bottom: -40px 
}

.page-footer-copyright {
	font-size: .7em;
  	text-align: center;
	margin: 50px 0 0 0;
	padding-top: 15px; 
	border-top: 1px solid #949494;
}

#footer-personal-logo {
	margin: -2.7px 2px 0 0;
}

.language img {
	margin: -2.7px 5px 0 0;
}

/*======== Content Header ========*/

.container {
	padding: 0;
}

.container-fluid {
	height: -moz-calc(100% - 80px); /* Firefox */
	height: -webkit-calc(100% - 80px); /* Chrome, Safari */
	height: calc(100% - 80px); /* IE9+ and future browsers */
	background-color: yellow; 
}

.content-header {
	color: #FFF;
}

#content-header-photo {
	position: absolute;
	right: 0%;
	bottom: 11%;
	z-index: 100;
}

.item-header {
	position: absolute;
	bottom: 15%;
	left: 4%;
}

.content-header .item-header h3 {
	margin: 40px 0px;
}

.content-header .item-header img {
	margin: -50px 10px 0 -10px;
	height: 70px;
	width: 70px;
}

.slider {
	position: fixed;
	bottom: 2.5%;
	width: 100%;
}

#needle {
	position: absolute;
	height: 9px;
	width: 3.6px;
	bottom: 57%;
	left: 49.86%;
}

/*======== Main Content ========*/

.main-content {
	padding-top: 7%;
}

.main-content h3, p {
	font-size: 1em;
}

.short-desc {
	padding-bottom: 100px; 
}

.short-desc .desc {
	padding: 15px 20px 0 0;
	line-height: 2em;
}

.short-desc div {
	line-height: .8em;
	margin: 0 20px 0 50px; 
}

.gallery-images {
	background-color: yellow;
	margin: 0 30px 0 0px;
	padding: 200px;
}

#gallery-images-caption {
	padding: 40px 0 100px 40px;
	font-size: .8em;
}

.sub-content {
	padding: 0 0 100px 0;
}

/*======== Miscellaneous ========*/

.cta.row {
	margin: 40px;
}